/* CSS for Register */
.frames-register .helpId{
    color: #fb1111;
    font-weight: 600;
}
#require-form-edit{
    color: #ff0000c4;
}
.frames-register .jumbotron .lead {
    text-align: center;
    margin: 0;
}
.frames-register .ctg {
    position: relative;
}
.frames-register .ctg .checkicon {
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
}

/* End CSS for Register */
/*CSS for Header*/

a.nav-item.nav-link {
    display: block;
    text-align:  center;
    font-size: 14px;
    padding: 9px;
    background: #3f51b500;
    height: 39px;
    color: #333333;
    text-transform: uppercase;
    border-left: 1px solid #8080808c;
    line-height: 22px;
}a.nav-item.nav-link:hover {
    background:#DA251C;
    color: white;
    
}

a.nav-item.nav-link.active {
    background: #DA251C;
    color: white;
}
.navbar-nav .nav-item+.nav-item{
    margin-left:0;
}
.navbar-nav {
}

.navbar-nav.desktop {margin: -53px 0;border: 1px solid #8080809c;height: 40px;box-shadow: -4px 5px 20px 2px grey;margin-bottom: 21px;}

.navbar-nav.desktop li {
    border-right: 1px solid #80808073;
    padding: 0 16px;
}

.menu_header {
    height: 41px;
    border-radius: unset;
    border: 1px solid #8080805e;
    box-shadow: 2px 4px 7px 0px;
}

header {
    height: 105px;
    /* background: whitesmoke; */
}

header img {
width: 167px;
} 



nav.navbar.navbar-expand-sm.navbar-light.bg-light.Mobile{
     opacity: 0;
     visibility:hidden;
     background: gray;
}
/*end CSS header*/


/*CSS for Slide end main*/

.slide {
    padding: 4px;
    border: 1px solid #80808070;
}
.carousel-inner.images_slide {
    height: 255px;
    width: 1005;
}
.carousel-inner.images_slide img{
    height: 257px;
    padding: 4px;
}

h1.pt-2 {
font-family: 'Black Ops One', cursive;
margin-left:  17px;
}

span.carousel-control-prev-icon {
position: absolute;
top: 47%;
font-size: 28px;
color: white;
left: 7px;
}

span.carousel-control-next-icon {
position: absolute;
top: 47%;
left: 1081px;
font-size: 28px;
color: white;
}

.button {
width: 100%;
position: absolute;
background: #F44336;
left: 0;
height: 31px;
top: 50%;
text-align: center;
padding: 5px;
opacity:0;
transition: 0.3s;
transform: scale(2);
color: antiquewhite;
text-transform: uppercase;
font-size: 13px;
text-decoration: none;
}

.row.box_pro {
margin-left: -57px;
}

.sanpham .ten {
text-transform: uppercase;
color: black;
width: 100%;
text-align: center;
font-weight: 500;
font-size: 14px;
}

.sanpham {
width: 224px;
border: 1px solid #ff980047;
padding: 4px 12px;
cursor: pointer;
position: relative;
overflow: hidden;
float: left;
}

.col-sm-4.mt-3.col-xs-12.sanpham {
    width: 206px;
}

.col-sm-4.mt-3.col-xs-12.sanpham a img {
    width: 100%;
    height: auto;
}

.sanpham:hover .button {
opacity:1;
transform: translateY(0);

}.sanpham:hover{
border: 1px solid #F44336;
box-shadow: 0px 0px 10px 1px #F44336;
}.sanpham .button:hover{
color:white;
font-weight:800;
}
.sanpham .gia {
color: #F44336;
width: 100%;
text-align: center;
font-size: 12px;
font-weight: bold;
}

.sanpham img {
width: 191px;
height: 191px;
}

section h5 {
top left no-repeat; */
margin: 0 0 5px 0;
padding: 0px 0px 0px 10px;
line-height: 30px;
height: 30px;
color: #da251c;
font-size: 13px;
font-weight: 600;
text-transform: uppercase;
border-bottom: 2px solid #da251c;
width: 100%;
}

section h5 a {
font-size: 12px;
text-transform: capitalize;
}

h5.noibat {
margin-left: 0px;
}


aside ul li a {
text-decoration:  none;
text-transform: uppercase;
margin: 11px;
font-size: 13px;
color: #000;
display: block;
padding: 5px 0px 9px 6px;
border-bottom: 1px solid #e8e8e8;
width: 100%;
margin: 0;
}aside ul li:hover a{
background:#9e9e9e70;
color:red;
text-decoration:none;
}

aside ul li a span {
color: #FF9800;
}

ul li {
list-style: none;
color: black;
}


.container.main {margin-top:  10px;}


aside ul {border: 1px solid #a9a9a94f;padding: 1px;}

aside ul h5 
{
background: #DA251C;
display: block;
width: 217px;
height: 40px;
text-align: center;
line-height: 40px;
text-transform: uppercase;
font-size: 15px;
color: white;
font-weight: 200;
}
*{margin: 0; padding: 0;}

.form-group {
    text-align: left;
}

.jumbotron.bg-white.btn-block form {
    text-align: center;
    margin-top: 16px;
}

.phantrang {
    margin: -7px;
    margin-top: -72px;
}

.phantrang a.trang {
    border: 1px solid;
    display: block;
    float: left;
    width: 30px;
    text-align: center;
    margin-left: 12px;
}

.imagesEdit {
    /* width: 200px; */
    /* height: auto; */
}

.imagesEdit img {width: 200px; */}

ul.list-group.mt-3 li {
    color: teal;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
}

ul.list-group.mt-3 li span a {
    color: red;
    float: right;
}

.col-sm-12.show-sp.mt-3 {
    position: relative;
    top: -107px;
}

.card-footer {
    background: white;
}

.card-footer a {
    color: darkcyan;
    font-size: 14px;
    margin-left: 5px;
}

tbody#reloads {
    font-size: 12px;
    background: wheat;
}

thead.thead-light {
    font-size: 12px;
    background: gainsboro;
}

table.table.table-striped.table-bordered.table-responsive-sm.mt-3 {
}

h1.display-3 {
    font-size: 33px;
    margin: auto;
    text-align: center;
}

li.disabled {
color: #c14545;
font-size: 21px;
margin: 10px 0;
}

ul.ul-list-info li {
font-size: 15px;
margin-bottom: 8px;
}

ul.ul-list-info li a {
color: #27575b;
}
ul.ul-list-info li:hover a{
color:red;
}
aside li.active {/* background: #d2cdcd; */padding: 7px 8px;border-radius: 8px;width: 77%;}

.col-sm-3.col-xs-12.list-info {
margin-top: 49px;
}

main#users {width: 100%;height: 100%;}

.blackTop {
position: fixed;
right: 32px;
bottom: 9px;
cursor: pointer;
opacity: 0;
transition: 0.4s;
transform: translateY(30px);
}

.blackTop.bienhinh {
opacity: 1;
transform: translateY(0);
}

.boxLimit {
}

h6 {
text-align: center;
}

.spNew .gia {
width: 100%;
text-indent: 134px;
color: #FF5722;
font-weight: 500;
font-size:  13px;
float: right;
margin: -24px 0px;
}

.spNew {
width: 211px;
height: auto;
margin-top: 14px;
}

.spNew .ten {
float: right;
width: 59%;
font-size: 14px;
font-weight: 400;
}

.spNew img {
width: 75px;
/* border: 1px solid #8080808c; */
height: 75px;
margin: -13px 5px -3px;
}

.row.thongso {
margin-left: -91px;
}

a.img img {
width: 115%;
border: 1px solid #80808052;
margin-left: -71px;
}

h6.tt {
margin: 11px 20px 0px;
border-left: 5px solid #F44336;
font-family:  tohoma;
font-weight: 900;
}

td {
border: 1px solid;
padding: 8px;
}

td {}

tr {
border: 1px solid;
}

table {
border: 1px solid;
margin: 22px;
font-weight: 500;
}

footer {
background: #000000c7;
height: 100px;
text-align: center;
padding: 36px;
color: wheat;
margin-top: 50px;
border-top: 5px solid red;
}
/*CSS Footer*/

/*CSS Mobile*/
@media (max-width: 576px){
*{
    margin: 0;
    padding: 0;
}

.col-sm-6 img {
}

.row.thongso {
margin-left: -22px;
}

.spNew .gia {
margin-left: 42px;
}

.sanpham .gia {
text-align: right;
}

.sanpham .ten {
margin-top:  20px;
text-align: right;
}

.sanpham img {
width: 100px;
height: auto;
float: left;
}

.sanpham {
width: 100%;
border: none;
border-bottom: 1px solid gainsboro;
}

section h5 {
margin-left: 1px;
}

.row.box_pro {
margin: 0;
width: 109%;
}

.row {
}

aside {
}

.spNew {
margin-left: 42px;
width: 95%;
}

.col-sm-3.left {
float: left;
margin: 10px;
text-indent: -26px;
}

header h1 img {
width: 100px;
}

header h1 {
font-size: 22px;
}

aside ul {
border: none;
}

aside ul h5 {
width: 119%;
}

aside {overflow: hidden;visibility: hidden;display: none;}

.container.main {
margin: 0;
margin-left: 0;
width: 100%;
}

.carousel-item.images_slide img {
}

img.d-block.w-100 {
height: 250px;
}

.carousel-inner.images_slide {
position: absolute;
top: 15px;
border: none;
}

.slide.container {width: 100%;margin-top: -21px;padding: 19px;}

div#navbarNavAltMarkup {
position: absolute;
top: 72px;
background: ghostwhite;
left: 0;
}

button.navbar-toggler.collapsed {
position: absolute;
top: 26px;
left: 330px;
}

header {
height: 58px;
border-bottom: 1px solid gainsboro;
}

h1.pt-2 img {width: 278px;margin-left:  -14px;}

.navbar-nav.desktop {
    opacity: 0;
    visibility: hidden;
}
nav.navbar.navbar-expand-sm.navbar-light.bg-light.Mobile{
     opacity: 1;
     visibility: visible;
     background: #66339900;
     top: -68px;
     position: relative;
     z-index: 9999;
     height: 0;
}
a.nav-item.nav-link{
     display: inline-block;
     text-align:  center;
     font-size: 15px;
     padding: 9px;
     height: 39px;
     margin-top: 12px;
     text-transform: uppercase;
     border-bottom: 1px solid #f3ebeb;
     width: 100%;
     border-left: none;
}
.navbar-nav .desktop{
    opacity: 0;
    visibility: hidden;
}
.navbar-toggler {
    width: 2.5em;
    height: 2em;
    font-size: 1.25rem;
    line-height: 1;
    background: transparent no-repeat center center;
    -webkit-background-size: 24px 24px;
    background-size: 24px 24px;
    border: 1px solid transparent;
    border-radius: .25rem;
    position: relative;
    top: 15px;
    left: 314px;
    font-size: 13px;
    z-index: 99;
    border: none;
    }
    .blackTop.bienhinh{
opacity: 1;
/*end CSS mobile*/}
